h5 {
    font-family: 'Titan One', cursive;
}

#cont1 {
    display: inline-block;
    line-height: 1cm;
    margin-top: 2.5cm;
    margin-left: 3cm;

}
html, body {

    overflow-x: hidden;
}
#img1 {
    display: inline-block;
    margin-right:1cm ;
}

